*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Manrope", sans-serif;
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ================= VARS */
:root {
  --main-color: #101828;
  --gray-color: #8e929a;
  --button-color: #3470ff;
  --button-hover-color: #0b44cd;
  --gray-light-color: #dadde1;
  --badges-color: #f2f4f7;
  --inputs-color: #f7f7f7;
  --white-color: #ffffff;

  --second-font-family: "Manrope";
}
